html, body {
    margin: 0;                                              /*Pas de marges*/
    padding: 0;                                             /*Pas de marges intérierures*/
    width: 100%;                                            /*Largeur à 100%*/
    height: 100%;                                           /*Hauteur à 100%*/
    background-color: rgb(29, 29, 29);                    /*Couleur de fond*/
    vertical-align: middle;                                 /*Alignement vertical au centre*/
    overflow: hidden;                                       /*Cacher la barre de scroll*/
}

section {
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    color: rgb(236, 236, 236);
    display: flex;                                          /*Direction des composants en horizontale*/
}

h1 {
    font-size: 50px;                                        /*Taille de police à 50 pixels*/
    font-family: 'Courier New', Courier, monospace;         /*Police*/
    font-style: italic;                                     /*Police en italique*/
}

.title {
    width: 100%;
    height: 5%;
    margin-top: 50px;
    justify-content: center;                                /*Centrer le contenu*/
    align-items: center;
    color: rgb(236, 236, 236);
}

column {
    width: 30%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
    border: 0px;                                            /*Epaisseur du bord (invisible)*/
    border-radius: 100px;                                   /*Arrondir les bords*/
    background-color: rgba(0, 0, 0, 0);
    align-items : center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

box {
    width: 30%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 100px;
    background-color: rgb(100, 100, 100);
    display : flex;
    align-items : center;
    justify-content: center;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h1, a {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(236, 236, 236);
}

input {
    width: 30%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 100px;
    background-color: rgba(100, 77, 77, 0);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

button {
    width: 30%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
    border: 0px;
    border-radius: 100px;
    background-color: rgb(43, 43, 43);
    align-items : center;
    justify-content: center;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
/*
a {
    width: 30%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
    border: 0px;
    border-radius: 100px;
    background-color: rgb(43, 43, 43);
    align-items : center;
    justify-content: center;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
*/
.trt {
    border-radius: 20px;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#resultat {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20PX;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;

}